@use '/src/scss/base/variables.scss' as *;

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ol[role='list'],
ul[role='list'] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

html {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: $light;
}

main {
  flex: 1;
}

.container {
  position: relative;
  width: 100%;
  padding: 0 10px;

  @media (min-width: 768px) {
    max-width: 720px;
    margin: 0 auto;
    padding: 0;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (min-width: 1920px) {
    max-width: 1440px;
  }
}
