@use '/src/scss/base/variables.scss' as *;

@mixin title {
  font-weight: 500;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: $dark;
}

@mixin button {
  display: block;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid $dark;
  border-radius: 2px;
  cursor: pointer;
  transition:
    all 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

@mixin angle-decoration {
  &::after,
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $dark;
    content: '';
  }
  &::after {
    width: 200px;
    height: 1px;
  }
  &::before {
    width: 1px;
    height: 200px;
  }
}
