@use '/src/scss/base/variables.scss' as *;

.footer {
  margin-top: 95px;
  padding: 50px 0;
  background-color: $dark;

  &__wrapper {
    @media (min-width: 1200px) {
      display: flex;
      column-gap: 164px;
    }

    @media (min-width: 1920px) {
      column-gap: 314px;
    }
    &_inner {
      @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
      }

      @media (min-width: 1200px) {
        column-gap: 164px;
      }

      @media (min-width: 1920px) {
        column-gap: 314px;
      }
    }
  }

  &__form {
    &-title {
      text-align: left;
      color: $light;
    }

    &-description {
      margin-top: 40px;
      color: $light;
    }

    &-input {
      width: 100%;
      margin-top: 40px;
      padding: 15px 0;
      font-size: 14px;
      color: $ui-active;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $light;

      &::placeholder {
        padding-left: 5px;
      }
    }

    &-label {
      position: relative;
      display: block;
      display: flex;
      align-items: center;
      margin-top: 20px;
      color: $light;
      cursor: pointer;

      .terms {
        color: #a22dc6;
      }

      .custom-checkbox {
        position: absolute;
        top: 1.5px;
        left: 0;
        width: 15px;
        height: 15px;
        margin-right: 15px;
        background-color: $dark;
        border: $border-input;

        &::after {
          position: absolute;
          display: none;
          content: '';
        }

        &__text {
          display: block;
          margin-left: 15px;
        }
      }

      .custom-checkbox::after {
        top: 0;
        left: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      @media (min-width: 768px) {
        &:hover .footer__form-checkbox ~ .custom-checkbox {
          background-color: $ui-active;
        }
      }

      .footer__form-checkbox:checked ~ .custom-checkbox {
        background-color: $dark;
      }

      .footer__form-checkbox:checked ~ .custom-checkbox::after {
        display: block;
      }
    }

    &-button {
      margin-top: 20px;
    }

    @media (min-width: 768px) {
      width: 100%;
      max-width: 293px;
    }
  }

  &-checkbox {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    color: $light;
    column-gap: 66px;

    &-link {
      @media (min-width: 1200px) {
        &:hover {
          opacity: 0.3;
        }
      }
    }

    &-title {
      margin-bottom: 40px;
      text-align: left;
      color: $light;
    }

    &-item {
      display: flex;
      flex-direction: column;

      &:first-child {
        a:first-of-type {
          margin-bottom: 20px;
        }
      }

      &:last-child {
        margin-top: 40px;
      }

      @media (min-width: 447px) {
        &:last-child {
          margin-top: 0;
        }
      }
    }
  }

  &__soc1als {
    margin: 40px 0;

    &-title {
      text-align: left;
      color: $light;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      margin-top: 40px;
      column-gap: 12px;
    }
  }

  &__copy {
    display: block;
    font-size: 14px;
    text-align: center;
    color: $light;
  }
}
